*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('https://t4.ftcdn.net/jpg/03/11/72/63/360_F_311726370_WUopUflJYzZWTiIPdnP2yZ3xGaNABHZY.jpg');
  color:black;
  width: 100%;
  padding-bottom: 5px;
}


.header img{
  width: 100%;
}
.input{
  /* position: absolute; */
  /* top: 79%; */
  margin: auto;
  display: flex ;
  align-items: center;
  margin-left: 38%;
  
}
.bars{
  width: 300px;
  height: 30px;
  background-color: black;
  color: #FFAE42;
  margin-bottom: 5%;
  margin-top: 5%;

}

b{
  color: #FFAE42;
  padding: 5px;
}
.buton{
  height: 30px;
  width: 30px;
  /* color: black;
  background-color: #FFAE42; */
}
.head{
  max-width: 100vw;
  position: relative;
}
.characterCard{
  flex-wrap: nowrap;
  display: inline-block;
  gap: 30px;
  margin-left: 7.5%;
  margin-top: 5%;
  background-color: black;
  border: solid 4px white;
  color: white;
  
}
.loc{
 display: flex;
 justify-content: center;
 
 
 text-align: center;
}

.card{
  background-color: #FFAE42;
  display: flex;
  gap: 5%;
  padding: 1.5%;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kdam Thmor Pro', sans-serif;
  border-radius: 10px;
}
.name1{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
  max-width: 300px;
}
/* borrar */
.cardscards {
  color: aliceblue;
}


@media(max-width: 767px){
.input{
  /* margin: auto; */
  display: flex ;
  align-items: center;
  margin-left: 10%;
}
.characterCard{
  flex-wrap: nowrap;
  display: inline-block;
  gap: 30px;
  margin-left: 10.25%;
  margin-top: 5%;
  background-color: black;
  border: solid 4px white;
  color: white;
  
}
.card{
  background-color: #FFAE42;
  display: flex;
  gap: 5%;
  padding: 1.5%;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 8px;
  border-radius: none;
}
}